<html>
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css"> <!-- problema di contrasto con la finestra -->
<link rel="stylesheet" href="CSS/PaginaInizialeStyle.css" type="text/css">
<script type = "text/javascript" src="js/jquery3.js"></script>
</head>
<body>
<div class="container">
	<div class='col s12 m7' >
		<div class='card horizontal' id='a'>
			<div class='card-image'>
				<img src='{{list_news[0].main_img_url}}' class='fadeIn'>
			</div>
			<div class='card-stacked'>
				<div class='card-content'>
					<span class='card-title'>{{list_news[0].title}}</span>
				<p>{{list_news[0].text}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class='col s12 m7' >
		<div class='card horizontal' id='a'>
			<div class='card-image'>
				<img src='{{list_news[1].main_img_url}}' class='fadeIn'>
			</div>
			<div class='card-stacked'>
				<div class='card-content'>
					<span class='card-title'>{{list_news[1].title}}</span>
				<p>{{list_news[1].text}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class='col s12 m7' >
		<div class='card horizontal' id='a'>
			<div class='card-image'>
				<img src='{{list_news[2].main_img_url}}' class='fadeIn'>
			</div>
			<div class='card-stacked'>
				<div class='card-content'>
					<span class='card-title'>{{list_news[2].title}}</span>
				<p>{{list_news[2].text}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>