
<!doctype html>
<html lang="en-US">
<head>
</head>
<body onload="generate_list()">

<form method="post" action="Ricerca_risultato">
    <select class="form-select" aria-label="Default select example" id="author" name='author'></select>
    <input id='tipo_ricerca' style= 'visibility: hidden' name='tipo_ricerca' value='ricerca_author'>
    <input type="submit">
</form>

<form method="post" action="Ricerca_risultato">
    <select class="form-select" aria-label="Default select example" id="site" name='site'></select>
    <input id='tipo_ricerca' style= 'visibility: hidden' name='tipo_ricerca' value='ricerca_site'>
    <input type="submit">
</form>

<form method="post" action="Ricerca_risultato">
    <select class="form-select" aria-label="Default select example" id="country" name='country'></select>
    <input id='tipo_ricerca' style= 'visibility: hidden' name='tipo_ricerca' value='ricerca_country'>
    <input type="submit">
</form>

<form method="post" action="Ricerca_risultato">
    <select class="form-select" aria-label="Default select example" id="len" name='len'></select>
    <input id='tipo_ricerca' style= 'visibility: hidden' name='tipo_ricerca' value='ricerca_len'>
    <input type="submit">
</form>

<form method="post" action="Ricerca_risultato">
    <div class="it-datepicker-wrapper theme-dark">
        <div class="form-group">
            <input class="form-control it-date-datepicker" id="date2" name="date2" type="text" placeholder="inserisci la data in formato gg/mm/aaaa">
            <label for="date2">Date label</label>
        </div>
        <input id='tipo_ricerca' style= 'visibility: hidden' name='tipo_ricerca' value='ricerca_date'>
        <input type="submit">
    </div>
</form>

<script type = 'text/javascript'>
	function generate_list(){
        var i,j,m,n;

        var author = {{list_author|tojson}};
        var obj = JSON.parse(author);
        for (i=0;i<{{len_author}};i++){
        	string1 = "<option value='"+obj.Author[i]._id+"'>"+obj.Author[i]._id+"</option>";
            document.getElementById("author").innerHTML +=  string1;
	    }

	    var site = {{list_site|tojson}};
        var obj = JSON.parse(site);
        for (j=0;j<{{len_site}};j++){
        	string1 = "<option value='"+obj.Site[j]._id+"'>"+obj.Site[j]._id+"</option>";
            document.getElementById("site").innerHTML +=  string1;
	    }

	    var country = {{list_country|tojson}};
        var obj = JSON.parse(country);
        for (m=0;m<{{len_country}};m++){
        	string1 = "<option value='"+obj.Country[m]._id+"'>"+obj.Country[m]._id+"</option>";
            document.getElementById("country").innerHTML +=  string1;
	    }

	    var len = {{list_len|tojson}};
        var obj = JSON.parse(len);
        for (n=0;n<{{len_len}};n++){
        	string1 = "<option value='"+obj.Len[n]._id+"'>"+obj.Len[n]._id+"</option>";
            document.getElementById("len").innerHTML +=  string1;
	    }
	}
</script>

</body>
</html>