
<!doctype html>
<html lang="en-US">
<head>
    <link href="static/bootstrap.min.css" rel="stylesheet">
     <link href="static/headers.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
     <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #8F363C;
   height:50px;
}
    </style>
</head>
<body onload="generate_list()">

  <header style="background-color:#8F363C;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="Home" class="nav-link px-2 " style="color:white;font-family:Bree serif;font-weight:bold;">HOME</a></li>
          <li><a href="Ricerca" class="nav-link px-2 "style="color:white;font-family:Bree serif;font-weight:bold;">RICERCA</a></li>
            <li><a href="Statistica" class="nav-link px-2 "style="color:white;font-family:Bree serif;font-weight:bold;">STATISTICA</a></li>
          <li><a href="Team" class="nav-link px-2 "style="color:white;font-family:Bree serif;font-weight:bold;">TEAM</a></li>
        </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" method="post" action="Ricerca_risultato">
   <input aria-label='Search input' type='search' class='orig' id='tipo_ricerca' style= 'visibility: hidden;width:150px;color:black;' name='tipo_ricerca' placeholder='Cerca per contenuto o testo' value='ricerca_text'>
          <input type='search' placeholder="Search" aria-label="Search" id='titolo' name='titolo' style="width:150px; color:black;">
                    <input type="image" src="static/immagini/search-512.png" style="width:20px;height:20px;">

</form>
      </div>
    </div>
</header>
  <div style="width: 80%;font-family:Bree serif;">
<div  style="margin-left:70%;width:40%;height:20%;margin-top:50px;">
    <img src="static/immagini/ispettore_gadget_cartone_animato.jpeg" style="width:100%; height:100%;" >
</div>
      <div style="width: 60%; height: 20%;margin-top:-500px;margin-left:50px;">
<form method="post" action="Ricerca_risultato">
    <div>
        <p>La depressione</p>
    <select class="form-select" aria-label="Default select example" id="author" name='author' style="width:50%;"></select>
        <input type="submit" style="margin-left:43%;background-color:#F3B253;color:white;border:none;border-radius:5px; width:70px; height:30px;" value="Search">
    <input id='tipo_ricerca' style= 'visibility: hidden;width:10%'  name='tipo_ricerca' value='ricerca_author'>
        </div>
</form>

<form method="post" action="Ricerca_risultato">
    <div>
        <p>La depressione</p>
    <select class="form-select" aria-label="Default select example" id="site" name='site' style="width:50%;"></select>
        <input type="submit" style="margin-left:43%;background-color:#F3B253;color:white;border:none;border-radius:5px; width:70px; height:30px;" value="Search">
    <input id='tipo_ricerca' style= 'visibility: hidden;width:10%' name='tipo_ricerca' value='ricerca_site'>
        </div>
</form>

<form method="post" action="Ricerca_risultato">
    <div>
        <p>La depressione</p>
    <select class="form-select" aria-label="Default select example" id="country" name='country' style="width:50%;"></select>
        <input type="submit" style="margin-left:43%;background-color:#F3B253;color:white;border:none;border-radius:5px; width:70px; height:30px;" value="Search">
        <input id='tipo_ricerca' style= 'visibility: hidden;width:10%' name='tipo_ricerca' value='ricerca_country'>
        </div>
</form>

<form method="post" action="Ricerca_risultato">
    <div>
        <p>La depressione</p>
    <select class="form-select" aria-label="Default select example" id="len" name='len' style="width:50%;"></select>
        <input type="submit" style="margin-left:43%;background-color:#F3B253;color:white;border:none;border-radius:5px; width:70px; height:30px;" value="Search">
        <input id='tipo_ricerca' style= 'visibility: hidden;width:10%' name='tipo_ricerca' value='ricerca_len'>
    </div>
</form>

<form method="post" action="Ricerca_risultato">
  <p>La depressione</p>
    <div class="form-group row">
  <div class="col-10">
    <input class="form-control" type="date" value="2011-08-19" id="example-date-input" id="date2" name="date2" style="width:60%;">
  </div>
        <input type="submit" style="margin-left:43%;background-color:#F3B253;color:white;border:none;border-radius:5px; width:70px; height:30px;" value="Search">
        <input id='tipo_ricerca' style= 'visibility: hidden' name='tipo_ricerca' value='ricerca_date'>
</div>
</form>
      </div>
  </div>


<script type = 'text/javascript'>
	function generate_list(){
        var i,j,m,n;

        var author = {{list_author|tojson}};
        var obj = JSON.parse(author);
        for (i=0;i<{{len_author}};i++){
        	string1 = "<option value='"+obj.Author[i]._id+"'>"+obj.Author[i]._id+"</option>";
            document.getElementById("author").innerHTML +=  string1;
	    }

	    var site = {{list_site|tojson}};
        var obj = JSON.parse(site);
        for (j=0;j<{{len_site}};j++){
        	string1 = "<option value='"+obj.Site[j]._id+"'>"+obj.Site[j]._id+"</option>";
            document.getElementById("site").innerHTML +=  string1;
	    }

	    var country = {{list_country|tojson}};
        var obj = JSON.parse(country);
        for (m=0;m<{{len_country}};m++){
        	string1 = "<option value='"+obj.Country[m]._id+"'>"+obj.Country[m]._id+"</option>";
            document.getElementById("country").innerHTML +=  string1;
	    }

	    var len = {{list_len|tojson}};
        var obj = JSON.parse(len);
        for (n=0;n<{{len_len}};n++){
        	string1 = "<option value='"+obj.Len[n]._id+"'>"+obj.Len[n]._id+"</option>";
            document.getElementById("len").innerHTML +=  string1;
	    }
	}
</script>
<div class="footer">
</div>
</body>

</html>